.content_container_small {
    position: absolute;
    width: 1000px;
    margin-top: 70px;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.content_container_small  .highlights_small {
    width: 90%;
    align-items: center ;

}

.content_container_small .video_section_small {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
