@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Oswald:wght@400;500;600;700&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Oswald:wght@400;500;600;700&family=Pacifico&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,700&family=Secular+One&display=swap');

:root {
  --bg-primary: rgb(37, 36, 36);
  --logo-font: 'Oswald', sans-serif;
  --bg-sidbar:rgb(48, 46, 46) ;
  --bg-search: rgb(24, 23, 23);
  --roboto-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: var(--bg-primary);
   overflow-x: hidden;
}

#signInBtn {
  margin-right: 10px;
}

#start_session {
  border: 1px solid rgb(242, 75, 75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
