.error_container {
    position: relative;
}

.error_section {
    position: absolute;
    max-width: 90%;
    top: 150px;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_section img {
    width: 400px;
    height: 400px;
}

.error_section h7{
    margin-top: 15px;
    font-size: 20px;
    color: #fff;
    font-family: var(--roboto-font);
}


@media (max-width: 700px) {
    .error_section {
        max-width: 70%;
        left: 25%;
    }

    .error_section img {
        width: 200px;
        height: 200px;
    }

    .error_section h7 {
        font-size: 12px;
    }
}


@media (max-width: 500px) {
    .error_section {
        max-width: 70%;
        left: 30%;
        position: fixed;
    }

    .error_section img {
        width: 200px;
        height: 200px;
    }

    .error_section h7 {
        font-size: 12px;
    }
}