.sidebar_container {
    background: linear-gradient(to bottom, rgb(37, 36, 36), rgb(61, 60, 60));
    min-height: 100vh;
    width: 80px;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    top: 0px;
    z-index: 1;
}

a {
    text-decoration: none;
}

.sidebar_items {
    
    position: absolute;
    top: 100px;
    left: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0 ;
    align-items: center;
    justify-content: center;
}

.sidebar_items a {
    font-size: 16px;
    color: #fff;
    margin-bottom: 50px;
}

.sidebar_links {
    display: flex;
    align-items: center;
    
}

.sidebar_links p {
    margin-left: 8px;
}


.sidebar_items_closed {
    position: absolute;
    top: 100px;
    left: 10%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 0 ;
    align-items: center;
    justify-content: center;
}


.sidebar_items_closed a {
    font-size: 15px;
    color: #fff;
    margin-bottom: 50px;
}

.item_icons {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_icons p {
    margin-top: 5px;
    font-size: 12px;
}